.vscode/
venv/
.env
backend/venv/
backend/.env
frontend/.env.development
frontend/.env.production
frontend/node_modules
frontend/build
frontend/public/
backend/app/__pycache__
backend/app/blueprint/__pycache__
backend/app/ai/__pycache__/ai_wrapper.cpython-311.pyc
